@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    
}

ul {
    list-style-type: none;
    margin-left: auto;
    gap: 30px;
    display: flex;
    align-items: center;
    margin: 0px 0px;
    padding-left: 0;
    margin-left: auto;    
}

a {
    text-decoration: none;
}

a, p {
    color: #E5E7EB;
    font-size: 20px;
    margin: 0 auto;
}

li {
    display: inline;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    border: none;
    width: 175px;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 15%;
    background-color: #171e29;
    
}

.hero-contents {
    display: flex;
    padding: 100px 15%;
}

.hero-contents > img {
    width: 400px;
    height: auto;
    margin-left: auto;
    border: 2px hidden;
    border-radius: 10px;
}

.hero-contents > div {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0 0;
}

#search-box {
    color: gray;
    text-align: end;
    resize: none;
    padding: 0px;    padding: 20px;

    font-family: Roboto;
    font-size: 18px;
    padding: 10px 5px;
    border: 0;
}

.search {
    display: flex;
}

.search-button {
    border-radius: 0;
    width: 60px;
    padding: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
    padding-bottom: 142px;
}

.info > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.info > div div {
    width: 200px;
    
}

.info  img {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 0 auto;
    padding-bottom: 50px;
}

.info p {
    color: gray;
    text-align: center;
    padding-top: 10px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    padding: 142px 20%;
    display: flex;
    flex-direction: column;
}

.quote strong {
    font-size: 24px;
}

.quote div {
    align-self: flex-end;
}

.promote {
    background-color: #3882F6;
    padding: 60px 120px;
    margin: 100px 15%;
    border-radius: 10px;
    display: flex;
}

.promote div {
    color: #E5E7EB;
}

.promote .promote-title {
    font-size: large;
    font-weight: bold;
    color: #F9FAF8;
}

.promote button {
    border: 3px solid #F9FAF8;
    margin-left: auto;
}

.footer {
    background-color: #171e29;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: auto;
}